html
	head
		style.

			@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

			* {
				margin: 0;
				box-sizing: border-box;
				font-family: 'Roboto', sans-serif;
				text-align: center;
			}

			:root {
				font-size: 20px;
			}

			body {
				display: flex;
				flex-direction: column;
				align-items: center;	
			}

			a {
				display: block;
				margin-bottom: 10px;
				padding: 5px;
				max-width: calc(100% - 20px);
				cursor: pointer;
				word-wrap: break-word;
				border-radius: 3px;
				box-shadow: 0 0 1px #777;
			}

			a:hover {
				box-shadow: 0 0 3px #777;
			}

			#title {
				font-size: 50px;
				margin: 20px;
			}

			#footer {
				height: 50px;
			}

		title Downloads
		meta(name='viewport', content='width=device-width, user-scalable=no')

	body
		#title Files
		
		a#parentLink(onclick='link(\'..\')') ../
		each item in items
			a(onclick=`link('${item}');`)= item
		#footer

		script.
			function link(file) {
				location = location.toString().replace(/\/$/, '') + '/' + file;
			}

			var parentLink = document.getElementById('parentLink');

			if (location.pathname === '/') document.body.removeChild(parentLink);
